.bg-top {
    background-position: 50% -5px;
    background-size: cover;
    padding: 190px 0;
    padding: 100px 0;
}

.section-parallax {
    background-attachment: fixed;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    position: relative;
    overflow: hidden;
}

